
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* хедер */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  color: #000000;
  position: relative;
  display: flex;
  align-items: center;
  overflow:hidden;

  /* выше установили ограничения для секции */
}

/* лого для переиспользования*/
.logo{
 width: 183px;
 height: 32px;
}
.logo_place_header{
position: absolute;
top: 30px;
left: 64px;
}

.header__title{
display: flex;
flex-wrap: wrap;
width: 730px;
margin-left: 64px;
align-items: center;
font-size: 102px;
font-weight: bolder;
line-height: 96px;
z-index: 2;
}



.header__subtitle{
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;

}


.header__link{
  color:#2f80ed;
  text-decoration: none;
}
.header__main-illustration{
 max-height: 608px;
 max-width: 765px;
 position: absolute;
  bottom:0;
  right: 0;
  z-index: 1;

}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position:absolute;
  right: 0;
  top: 64px;
  z-index: 0;


}


 /*  описание */

.description{
margin-top: 100px;
display: flex;
justify-content: center;
}


.two-columns{
  width: 80%;
  display: flex;
  justify-content: space-between;
  min-width: 874px;

}
/*левая колонка*/
.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:#2f80ed;
  margin:0;
  padding: 0;

}


/* правая колонка*/
.two-columns__main-text{
  width: 80%;
   min-width: 784px;
}

.two-columns__paragraf{
  padding: 0;

  margin:0 0 30px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraf:last-of-type{
  margin-bottom: 0;
}
/*жирный шрифт*/
.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight:bolder;
}

/*блок с цифрами*/

.digits{
margin-top: 100px;
display: block;
}

.section-title{
  padding: 0;
  margin: 0 0  20px 0;
  display: block;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
}

.section-subtitle{
  padding: 0;
  margin: 20px 0 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}


/*список-таблица фактов */

.table{
padding:0;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
width: 1100px;
margin: auto;
list-style: none;
}

/* ячейка  */
.table__cell{
  padding: 0;
  margin:0;
width: 250px;
margin-top: 60px;

}

.table__heading{
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;

}
.table__text{
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:last-of-type{
  margin-bottom: 0;
}


.feynman{
  margin-top: 100px;
  min-height: 890px;
background-color:  #f2f2f2;
background-image: url(../images/feynman.png);
background-position:  bottom left;
background-repeat: no-repeat;
position: relative;
}

.feynman__title{

padding: 100px 0 70px 0;
line-height: 1.15;
font-size: 120px;
font-weight: bolder;
text-align: center;

width: 648px;
margin: auto;
}

.feynman__subtitle{
  margin:0;
  padding:0;
  line-height: 51px;
  font-size:  36px;
  font-weight: normal;
  text-align: center;

}


.feynman__link{
  margin:0;
  padding:0;
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  color:#2f80ed;
  line-height: 51px;
  font-size:  36px;
  font-weight: normal;
}



.kaufman{
  background-color: #1f1f1f;
  margin:0;
  padding: 90px 0 90px 0;
  overflow: hidden;
  position: relative;
  z-index: 0;
  }


  .section-title_theme_dark{
    margin:0;
    padding:0;
    color:white;
    line-height: 1.15;
    font-size: 60px;
   font-weight: bolder;
   text-align: center;

  }

  .section-subtitle_theme_dark{
    margin: 0 0 20px 0;
    padding:0;
    color:white;
    line-height: 34px;
    font-size: 24px;
   font-weight: normal;
   text-align: center;

  }

  .kaufman__triangle{
    position: absolute;
    background-image: url(../images/kaufman-triangle.svg);
    background-size: contain;
    width: 877px;
    height: 877px;
    top: 0;
    right: -210px;
    z-index: -1;


  }
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.table__heading_theme_dark{
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
}
.table__text_theme_dark{
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.footer{
  background-color: #1f1f1f;
  min-height: 350px;
  color: white;
  padding-bottom: 40px;
  padding-top: 60px;
  display: flex;

}

.footer__columns{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 0 auto;

}

.footer__column {

  display: flex;


}
/*блок копирайт*/
.footer__column_content-copyright{

  flex-basis:  711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;



}

.footer__author{
   padding: 18px 0 18px 0;
   line-height: 25px;
   font-size: 18px;
   font-weight: normal;
}

/*блог ссылочки*/
.footer__column_content-info{
  display: flex;
  flex-direction: column;


}
.footer__column-heading{
  padding:0;
  margin: 0 0  20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bolder;

}

.footer__column-links{
  padding: 0;
  margin: 0 0 16px 0;
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;

}


/*блок социалка*/

.footer__column_content-social{
  display: flex;
  flex-direction: column;

}
.footer__column-link{
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
